.container{
  display: flex;
  justify-content: center;
  background-color: #F4F9F9;
}
img{
  border-radius: 10px;
}
h1,.headerBuy{
  color:#1C6DD0;
}
button{
  padding: 10px;
}
.btnCarousel{
  margin-top: 10px;
  background-color: #F25287;
  border: 2px solid white;
  color: white;
}
.btnNext{
  margin-left: 30px;
}
h2 {
  font-size: 30px;
  color:#687980;
}
.btn,.buyBtn{
  padding: 13px;
  background-color:  #1C6DD0;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.headerBuy{
  font-size: 30px;
  margin-left: 200px;
}
.firstBuyContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.containerBuyTickets{
  background-color: #DDDDDD;
  width: 600px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
}
.nameEventsTIckets{
  margin-left: 70px;
}
.nameOccasions{
  font-size: 20px;
}
.deleteAll{
  padding: 15px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #F25287;
  color: white;
  border: none;
}
.remove{
  font-size: 15px;
  padding: 5px;
  float:right;
  margin-right: 70px;
}
.buyBtn{
  margin-left: 220px;
}